# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
.env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Database
*.sqlite3

# Alembic cache
alembic/versions/__pycache__/

# Pytest
.pytest_cache/